
.preview {
  display: flex;
}

.preview-nav-ctner {
  color: lightslategray;
  display: flex;
  flex-direction: column;
}

.preview-desc {
  text-align:justify;
}

.preview-nav {
  display: flex;
  flex-direction: column;
}

.preview-btn {
  color: lightslategray;
  text-align: start;
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 2px solid rgb(218, 218, 218);
}

.preview-btn:hover {
  background-color: rgb(212, 212, 212);
  color: rgb(59, 59, 59);
}


.preview-imgs-ctner {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex: 1;
  gap: 1;
}

.preview-img-ctner {
  position: relative;
}

.imgNum {
  background-color: rgba(192, 192, 192, 0.5);
  position: absolute;
  text-align: center;
}

